<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
    <delegateCommandHandler class="com.shengchen.checkstyle.runner.DelegateCommandHandler">
      <command id="java.checkstyle.server.setConfiguration"/>
      <command id="java.checkstyle.server.getVersion"/>
      <command id="java.checkstyle.server.checkCode"/>
      <command id="java.checkstyle.server.quickFix"/>
    </delegateCommandHandler>
  </extension>
</plugin>
